* {
    box-sizing: border-box;
}

/* body*/
body {
    background-color: rgba(24, 157, 219, 0.75);

    /* font-family:'Roboto',sans-serif;*/
    display: flex;

    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;


}

/* border and align whole content*/
.phone {
    position: relative;
    overflow: hidden;
    border: 3px solid #eee;
    border-radius: 15px;
    height: 600px;
    width: 320px;
    /*box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;*/
}


.phone.content{
    opacity: 0;
    object-fit: cover;
    position: absolute;
    top:0;
    left:0;
    height: calc(100%-60px);
    width: 100px;
    transition: opacity 0.4s ease;
}

.phone.content{
    opacity: 1;
}


/* icons visiblity*/
nav {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: -5px;
    width: 100%;
}

/* navigaion bar*/
nav ul {
    background-color: #fff;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 50px;

}

/* icons and name align*/
nav li {
    color: #777;
    cursor: pointer;
    flex: 1;
    padding: 10px;
    text-align: center;

}

/* icons height align*/
nav ul li p {
    font-size: 12px;
    margin: 2px 0;

}


/* hover effect*/
nav ul li:hover,
nav ul li.active {
    color: #8e44ad;

}